.github {
  background-color: #1a1a1a;
  color: #fff;
}

.frontend-mentor {
  color: #333333;
  background-color: #fff;
}

.twitter {
  background-color: #67bece;
  color: #fff;
}

.linkedIn {
  color: #fff;
  background-color: #2d68ff;
}

.youtube {
  background-color: #ee3939;
  color: #fff;
}

.facebook {
  color: #fff;
  background-color: #2442ac;
}

.twitch {
  color: #fff;
  background-color: #ee34c8;
}

.devTo {
  color: #fff;
  background-color: #333333;
}

.codewars {
  color: #fff;
  background-color: #8a1a50;
}

.freecodecamp {
  color: #fff;
  background-color: #302267;
}

.gitlab {
  color: #fff;
  background-color: #eb4925;
}

.hashnode {
  color: #fff;
  background-color: #0330d1;
}

.stackOverflow {
  color: #fff;
  background-color: #ec7100;
}
